<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>api.quotable.io</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Pacifico-Regular.ttf</string>
		<string>Sacramento-Regular.ttf</string>
		<string>Molle-Italic.ttf</string>
		<string>Limelight-Regular.ttf</string>
		<string>GreatVibes-Regular.ttf</string>
		<string>GoblinOne-Regular.ttf</string>
		<string>DancingScript-VariableFont_wght.ttf</string>
		<string>ButterflyKids-Regular.ttf</string>
	</array>
</dict>
</plist>
